* {
  font-family: "Open Sans", sans-serif;
  line-height: normal;
  color: var(--main-font-color);
}

.full-screen {
  height: 100vh;
  width: 100%;
}

.flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
}

.no-select {
  user-select: none;
}

.display-none {
  display: none;
}

input {
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  outline: none;
  background-color: var(--white);
  border: 1px solid var(--input-border-color);
}

input::placeholder {
  color: var(--input-placeholder-color);
}

:root {
  --main-font-color: #333;
  --main-button-background-color: lightgrey;
  --main-button-border-color: #999;
  --input-border-color: #999;
  --input-placeholder-color: #888;
  --white: #fff;
}


.button {
  height: 39px;
  font-size: 14px;
  border: 1px solid var(--main-button-border-color);
  background-color: var(--main-button-background-color);
  padding: 0 15px;
}

.button:hover {
  background-color: #999999;
}

.add-room-btn {
  margin-top: 60px;
}

#rooms-page {
  display: grid;
  grid-template-columns: 8fr;
  grid-template-rows: 0.6fr 1.4fr;
  grid-template-areas:
          "rooms-page-header-block"
          "rooms-page-content-block";
}

.rooms-page-header-block {
  grid-area: rooms-page-header-block;
  margin: 60px;
}

.rooms-page-content-block {
  grid-area: rooms-page-content-block;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  grid-template-rows: 300px;
  justify-content: left;
  grid-gap: 60px;
  margin: 20px 60px 0 60px;

}

.room {
  width: 300px;
  height: 300px;
  box-shadow: 0 0 3px 1px #dddddd;
  border: 1px solid gray;
  display: grid;
  grid-template-columns: 8fr;
  grid-template-rows: 0.1fr 1fr 1.9fr;
  grid-template-areas:
          "connected-info"
          "room-name"
          "button-block";
}

.room:hover {
  background-color: #f1f1f1;
}

.connected-info {
  margin: 5px;
  padding: 5px;
}

.connected-info span {
  margin: 5px;
  padding: 5px;
  font-size: 12px;
  font-style: italic;
}

.room-name h1 {
  text-align: center;
  margin-top: 40px;
}

.button-block {
  text-align: center;
}

.button-block button {
  margin-top: 60px;
  width: 120px;
}